/* Header */
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

li
{
    display: inline;
    padding-right: 20px;
}
li a
{
    text-align: center;
    /*background: gray; */
    margin-right: -10px;
    cursor: pointer;
}
.glink, glink:visited
{
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}
.glink:hover
{
    cursor:pointer;
    text-decoration: underline;
}
.gsignin
{
    background-color: rgb(26, 115, 232);
    border: 1px solid transparent;
   color: #fff;
    text-decoration: none;
   /* font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif; */
    font-weight: 500; 
    font-size: 14px; 
    box-sizing: border-box;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-width: 1px;
    margin-left: 10px;
    margin-right: 8px;
    text-align: center;
    padding: 9px 23px 9px 23px;
    border-radius: 4px;   
}
.gapps
{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    /*background: grey; */
    
}
.top_header
{
    margin-top: 15px;
    padding-right:10px;
}

#gsigninid
{
    padding-right: 0px;
}

#gsigninid:hover
{
    opacity: 0.75; 
}
.gappsanchor:hover
{
    opacity:0.75;
    border-radius:50%;
    background-color: whitesmoke;
    
}

/* Main Content */
.main-content img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}


.flex-lens
{
    margin-top: 3px;
    color: #9aa0a6;
    height: 30px;
    width: 25px;
   /* display: inline-block; */
    fill: #9aa0a6;
    line-height: 24px; 
    position: relative;
    padding-left: 10px;
    padding-right: 18px;
}
.flex-mic
{
    margin-top: 3px;
    height: 30px;
    width: 30px;
    /*display: inline-block;*/
    line-height: 24px; 
    position: relative;
    padding-right: 10px;
}
.flex-mic:hover
{
    cursor:pointer;
}
.main-content
{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.flex-container
{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
    border: 1px solid #dfe1e5;
    border-radius: 5px;
    width: 560px;
    height: 44px;
    align-items: center;
    border-radius: 24px;
} 
.flex-container:hover
{
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}
.flex-search
{
     
    /*height: 50%;
    width:50%; */
    flex-grow: 2;
    border:none;
    font-weight: 400;
    font-size: 16px;
    font-stretch: 100%;
    overflow-wrap: break-word;
    word-spacing: 0px;
    cursor: text;
}

.flex-search:focus
{
    outline:none; 
}
.btn-container
{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    align-items: flex-start;
}

.btn-container input
{
    height: 36px;
    margin: 11px 4px;
    font-size: 14px;
    cursor: pointer;
    min-width: 54px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding:0 15px 0 15px;
    font-weight:lighter;
    font-family: Arial, sans-serif;
}

input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}   

@media (max-width: 584px) {
    .flex-container {
        width: 100%;
    }
    .btn-container {
        flex-direction: column;
        align-items: center;
    }
    .main-content img
   {
    width:30%;
   }

}
/* 
@media (max-width: 280px) {
    .flex-container {
        width: 90%;
    }
    .main-content img
   {
    width:50%;
   }
} 
} */

/* Footer */
.bottom-footer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    border-top: 1px solid #e4e4e4;
    background-color: #f2f2f2;
    padding: 15px;
    margin-top:20%;
    margin-bottom: 0; 
}
.bottom-footer li a
{
    color: #70757a;
    text-decoration: none;  
    font-size: 14px; 
    margin-right:auto; 
    margin-left: 20px; 
    margin-bottom: auto;
}
.bottom-footer li a:hover
{
    text-decoration: underline;   
}

@media (max-width: 584px) {
    .bottom-footer {
        justify-content:space-around;
    }
    
} 




